.THIS.unvisible {
    display: none;
}
.THIS.visible {
    display: block;
}
.THIS.pictures {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 2px solid #bdc3c7;
    border-radius: 10px;
    height: 300px;
    overflow-y : scroll;
}
.THIS.document {
    margin-top: 20px !important;
    margin-bottom: 20px !important;
    padding-top: 20px !important;
    padding-bottom: 20px !important;
}
